/* Start Global Variables */
:root {
    --main-color: #141517;
    --secondary-color: #ff003c;
}
/* End Global Variables */
/* Start Global Rules */
*, body, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: rgb(245, 251, 209);
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Global Components */
/* End Global Components */
/* Start Header */
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 35px 0;
}
header::after {
    content: "HOT";
    color: #ffebf0;
    background-color: var(--secondary-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 4px 6px;
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: 10px;
    filter: drop-shadow(0px 3px 2px #ccc);
    -webkit-filter: drop-shadow(0px 3px 2px #ccc);
}
@media (max-width: 974px) {
    header::after {
        display: none;
    }
}
header .logo {
    width: 20%;
    margin-left: 25px;
    align-self: center;
}
header .container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 974px) {
    header .container{
        position: absolute;
        top: 80%;
        width: 93%;
        left: 25px;
        background-color: #4c4c4c;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 10px;
        z-index: 1;
        row-gap: 5px;
    }
}
@media (max-width: 558px) {
    header .container{
        width: 90%;
    }
}
header .container input[type="checkbox"]{
    display: none;
}
header .container > label {
    display: none;
}
@media (max-width: 974px) {
    header .container > label {
        display: block;
        background-color: #222222;
        padding: 5px 10px;
        align-self: flex-end;
        cursor: pointer;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }
}
header .container .list {
    width: 73%;
    margin-left: 17%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
@media (max-width: 974px) {
    header .container .list{
        margin: 0;
        transition: opacity-background-color 0.15s ease;
        opacity: 0;
        height: 0;
        width: 0;
        overflow: hidden;
        -webkit-transition: opacity-background-color 0.15s ease;
        -moz-transition: opacity-background-color 0.15s ease;
        -ms-transition: opacity-background-color 0.15s ease;
        -o-transition: opacity-background-color 0.15s ease;
}
    header .container input[type="checkbox"]:checked ~ .list{
        opacity: 1;
        height: auto;
        width: 73%;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;
    }
}
header .container .list > li {
    width: calc( 93% / 7);
}
header .container .list li .cont:hover {
    color: var(--secondary-color);
}
header .container .list li label {
    cursor: pointer;
}
@media (max-width: 974px) {
    header .container .list li {
        width: 100%;
        padding: 0px 10px;
        color: white;
    }
    header .container .list li label{
        width: 100%;
        position: relative;
    }
    header .container .list li .cont label::before {
        content: "+";
        position: absolute;
        top: 50%;
        font-size: smaller;
        left: 110%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }
    header .container .list li input[type="checkbox"]:checked ~ .cont label::before {
        display: none;
    }
    header .container .list li .cont label::after {
        content: "-";
        position: absolute;
        top: 50%;
        font-size: smaller;
        left: 110%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        display: none;
    }
    header .container .list li input[type="checkbox"]:checked ~ .cont label::after {
        display: block;
    }
    header .container .list li .cont {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
}
    header .container .list li .cont:hover {
        background-color: #cccccc;
        color: #4c4c4c;
    }
    header .container .list li a {
        width: 100%;
    }
    header .container .list li a:hover {
        background-color: #cccccc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    header .container .list li label:hover {
        background-color: #cccccc;
        color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}
header .container .list li .drop-down-menu {
    position: absolute;
    top: 85%;
    padding: 15px 20px;
    background: #fff;
    border-radius: 8px 8px 0 0;
    border-top: 2px solid var(--secondary-color);
    opacity: 0;
    height: 0;
    width: 0;
    text-align: left;
}
header .container .list li .drop-down-menu::before {
    content: "";
    position: absolute;
    top: -16px;
    border: 8px solid transparent;
    border-bottom: 8px solid var(--secondary-color);
}
header .container .list li .drop-down-menu li {
    margin-top: 15px;
    display: block;
}
@media (max-width: 974px) {
    header .container .list li .drop-down-menu{
        border: none;
        color: white;
        position: relative;
        background-color: transparent;
        padding: 0 20px;
        overflow: hidden;
    }
    header .container .list li .drop-down-menu::before {
        display: none;
    }
    header .container .list li .drop-down-menu li {
        margin-top: 0;
    }
}
header .container .list li:hover .drop-down-menu {
    color: var(--main-color);
}
header .container .list li input[type="checkbox"] {
    display: none;
}
header .container .list li input[type="checkbox"]:checked ~ .drop-down-menu{
    top: 100%;
    width: auto;
    opacity: 1;
    height: auto;
}
header .icon-nav {
    width: 35%;
    text-align: right;
    margin-right: 40px;
}
@media (max-width: 973px) {
    header .icon-nav {
        margin-right: 130px;
    }
}
header .icon-nav i {
    padding: 10px 20px;
}
@media (max-width: 558px) {
    header .icon-nav {
        position: absolute;
        top: 140%;
        left: 60%;
    }
    header .icon-nav i {
    padding: 5px 7px;
    }
}
header .icon-nav i:hover {
    color: var(--secondary-color);
}
header .icon-nav i:first-child {
    cursor: pointer;
}
/* End Header */
